@media (min-width: 900px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;

    &:nth-child(2) {
      .card-img {
        order: 2;
      }
    }
  }

}

@media (min-width: 1000px) {
  .main-content {
    max-width: 80%;
  }

}